@tailwind base;
@layer base {
  @font-face {
    font-family: Vazir ;
    src: url('../public/font/Vazir.eot');
    src: url('../public/font/Vazir.eot') format('embedded-opentype'),
        url('../public/font/Vazir.woff2') format('woff2'),
        url('../public/font/Vazir.woff') format('woff'),
        url('../public/font/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
}
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Vazir" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
